{% extends "base.jinja2" %}

{% block content %}
      <div class="row">
        <div class="col c3">&nbsp;</div>
        <div class="col c6">
          <h1>URL Shortener</h1>
        </div>
      </div>
      <div class="row">
        <div class="col c3">&nbsp;</div>
        <div class="col c6">
          <p>Currently, there are <span id='num_entries'>{{num_entries}}</span> shortened URLs in my books.</p>
        </div>
        <div class="col c3">&nbsp;</div>
      </div>
{% endblock %}
