<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/static/min.min.css"> <!-- Uses min (minfwk.com) -->
    <script src="/static/script.js"></script>
    <style>
      .header { background-color: #0b0c27; }
      input.url { width: 95%; height: 3ex; font-size: large; }
      input.requesting { width: 10em; height: 2ex; font-size: normal; }
      input.submit { float: right; margin-right: 2%; }
      div.proposal { color: #AAA; margin-top: 2ex; overflow: hidden; }
      div#error { margin: 1em 0em; background-color: #F99; color: #666; padding: 0.5em 1em; border-radius: 15px; }
      #orig_url { font-family: monospace; color: #003; }
      p#short_url { size: x-large; background-color: #CCC; color: #333; font-weight: bold; padding: 0.5em 1em; border-radius: 12px; border: 1px solid #CCC; margin: 2ex 2em; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header"></div>
      <div class="row">
        <div class="col c3">&nbsp;</div>
        <div class="col c6">
          <h1>URL Shortener</h1>
          <div id="newentry">
            <p>I can shorten your URL! Give it a shot:</p>
            <div id="error" style="display: none;"><span id="error_message"></span></div>
            <form name="shorten" action="/shorten" method="GET">
              <input name="url" placeholder="Enter a long URL here..." type="text" class="smooth url">
              <div class="proposal">
                {{base_url}} <input name="requesting" placeholder="your_choice (optional)" type="text" class="smooth requesting">
                <input type="button" class="btn btn-sm btn-b smooth submit" value="Request" onclick="javascript: ajax_submit()">
              </div>
            </form>
          </div>
          <div id="success" style="display: none;">
            <h2>Success</h2>
            <p>You created a short URL for <span id="orig_url"></span>:</p>
            <p id="short_url"></p>
          </div>
        </div>
        <div class="col c3">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col c3">&nbsp;</div>
        <div class="col c6">
          <p>Currently, there are <span id='num_entries'>{{num_entries}}</span> shortened URLs in my books.</p>
        </div>
        <div class="col c3">&nbsp;</div>
      </div>
    </div>
  </body>
</html>

